/* General Body Styling */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Navbar Styling */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-brand span {
    color: #c82333;
}

.nav-link {
    color: #cccccc;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffffff;
}

/* Heading Styling */
h1 {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}


.card-body i {
    display: block;
    margin-bottom: 10px;
}


.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
    transform: scale(1.1);
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
    transform: scale(1.1);
}


